Step 1: Load Students Data

In [11]:
import pandas as pd
df = pd.read_csv('C:\Jupytersafe\students - Sheet1.csv', skiprows=1) 
print(df.head())

  StudentID   Name Department  CGPA               Resume_File
0     ST001   Riya        CSE   8.2   resumes/resume_riya.txt
1     ST002  Arjun        ECE   7.5  resumes/resume_arjun.txt
2     ST003  Sneha         IT   8.0  resumes/resume_sneha.txt
3     ST004   Aman        CSE   6.8   resumes/resume_aman.txt
4     ST005  Priya         EE   7.9  resumes/resume_priya.txt

Step 2: Extract Resume Skills

In [6]:
skills = ['python', 'sql', 'excel', 'power bi', 'machine learning', 'java', 'c++', 'c']

In [7]:
print(df.columns)

Index(['StudentID', 'Name', 'Department', 'CGPA', 'Resume_File'], dtype='object')

Step 3: Score Resumes

In [8]:
import os

extracted_skills = []
resume_scores = []

for index, row in df.iterrows():
    resume_file = row['Resume_File']  # e.g., "resume_riya.txt"
    resume_path = os.path.join('C:\\Jupytersafe\\resumes', resume_file)

    try:
        with open(resume_path, 'r', encoding='utf-8') as file:
            content = file.read().lower()
            found = [skill for skill in skills if skill in content]

            extracted_skills.append(', '.join(found))
            resume_scores.append(len(found) * 10)

    except FileNotFoundError:
        extracted_skills.append('')
        resume_scores.append(0)

In [9]:
df['ExtractedSkills'] = extracted_skills
df['ResumeScore'] = resume_scores

In [10]:
df.to_excel('C:\\Jupytersafe\\students_updated.xlsx', index=False)
print("✅ Done! Saved as students_updated.xlsx")

✅ Done! Saved as students_updated.xlsx

Step 4: Load Recruiter Feedback Data

In [13]:
feedback_df = pd.read_csv('C:\\Jupytersafe\\recruiter_feedback.xlsx - Sheet1.csv')

# Check the column names and first few rows
print(feedback_df.columns)
feedback_df.head()

Index(['StudentID', 'ResumeScore', 'Feedback'], dtype='object')

  StudentID  ResumeScore                 Feedback
0     ST001           82         Good Python base
1     ST002           55                Lacks SQL
2     ST003           74  Strong in Excel & Comm.
3     ST004           40  Lacks modern tech stack
4     ST005           78  Great with SQL & Python

In [15]:
print(feedback_df.columns)

Index(['StudentID', 'ResumeScore', 'Feedback'], dtype='object')

In [17]:
# Merge on a common key — for example, student_id
combined_df = pd.merge(df, feedback_df, on='StudentID', how='left')

# Show result
combined_df.head()

,StudentID,Name,Department,CGPA,Resume_File,ResumeScore,Feedback
0,ST001,Riya,CSE,8.2,resumes/resume_riya.txt,82,Good Python base
1,ST002,Arjun,ECE,7.5,resumes/resume_arjun.txt,55,Lacks SQL
2,ST003,Sneha,IT,8.0,resumes/resume_sneha.txt,74,Strong in Excel & Comm.
3,ST004,Aman,CSE,6.8,resumes/resume_aman.txt,40,Lacks modern tech stack
4,ST005,Priya,EE,7.9,resumes/resume_priya.txt,78,Great with SQL & Python

In [19]:
combined_df.to_excel('students_with_feedback.xlsx', index=False)
print("✅ Merged file saved as students_with_feedback.xlsx")

✅ Merged file saved as students_with_feedback.xlsx

In [20]:
import pandas as pd

# Load merged file
df = pd.read_excel('students_with_feedback.xlsx')
df.head()

,StudentID,Name,Department,CGPA,Resume_File,ResumeScore,Feedback
0,ST001,Riya,CSE,8.2,resumes/resume_riya.txt,82,Good Python base
1,ST002,Arjun,ECE,7.5,resumes/resume_arjun.txt,55,Lacks SQL
2,ST003,Sneha,IT,8.0,resumes/resume_sneha.txt,74,Strong in Excel & Comm.
3,ST004,Aman,CSE,6.8,resumes/resume_aman.txt,40,Lacks modern tech stack
4,ST005,Priya,EE,7.9,resumes/resume_priya.txt,78,Great with SQL & Python

In [32]:
df.columns

Index(['StudentID', 'Name', 'Department', 'CGPA', 'Resume_File', 'ResumeScore',
       'Feedback'],
      dtype='object')

In [23]:

students_df = pd.read_excel('students_with_feedback.xlsx')  # with resume scores
placement_df = pd.read_csv('placements.xlsx - Sheet1.csv')

In [36]:
# Merge student data with placement data
final_df = pd.merge(students_df, placement_df, on='StudentID', how='left')
final_df.head()

,StudentID,Name,Department,CGPA,Resume_File,ResumeScore,Feedback,Company,JobRole,InterviewStatus,Salary
0,ST001,Riya,CSE,8.2,resumes/resume_riya.txt,82,Good Python base,TCS,Data Analyst,Selected,6.5
1,ST002,Arjun,ECE,7.5,resumes/resume_arjun.txt,55,Lacks SQL,Infosys,System Engineer,Rejected,5.0
2,ST003,Sneha,IT,8.0,resumes/resume_sneha.txt,74,Strong in Excel & Comm.,Wipro,Business Analyst,Selected,5.8
3,ST004,Aman,CSE,6.8,resumes/resume_aman.txt,40,Lacks modern tech stack,Capgemini,Backend Developer,Rejected,4.5
4,ST005,Priya,EE,7.9,resumes/resume_priya.txt,78,Great with SQL & Python,Accenture,Data Engineer,Selected,6.2

In [44]:
final_df.to_excel('final_feedback.xlsx', index=False)
print("✅ Merged file saved as final_feedback.xlsx")

✅ Merged file saved as final_feedback.xlsx

In [46]:
final_df.head()

,StudentID,Name,Department,CGPA,Resume_File,ResumeScore,Feedback,Company,JobRole,InterviewStatus,Salary
0,ST001,Riya,CSE,8.2,resumes/resume_riya.txt,82,Good Python base,TCS,Data Analyst,Selected,6.5
1,ST002,Arjun,ECE,7.5,resumes/resume_arjun.txt,55,Lacks SQL,Infosys,System Engineer,Rejected,5.0
2,ST003,Sneha,IT,8.0,resumes/resume_sneha.txt,74,Strong in Excel & Comm.,Wipro,Business Analyst,Selected,5.8
3,ST004,Aman,CSE,6.8,resumes/resume_aman.txt,40,Lacks modern tech stack,Capgemini,Backend Developer,Rejected,4.5
4,ST005,Priya,EE,7.9,resumes/resume_priya.txt,78,Great with SQL & Python,Accenture,Data Engineer,Selected,6.2

In [53]:
# Placement rate by department
placement_by_dept = final_df.groupby('Department')['InterviewStatus'].value_counts().unstack().fillna(0)

# Avg Resume Score vs Placement
avg_resume = final_df.groupby('InterviewStatus')['ResumeScore'].mean()

# Avg Salary by Role
salary_by_role = final_df.groupby('JobRole')['Salary'].mean().sort_values(ascending=False)

print(placement_by_dept)
print(avg_resume)
print(salary_by_role)

InterviewStatus  Rejected  Selected
Department
CSE                   2.0       2.0
ECE                   1.0       1.0
EE                    0.0       1.0
IT                    0.0       2.0
ME                    1.0       0.0
InterviewStatus
Rejected    45.75
Selected    79.00
Name: ResumeScore, dtype: float64
JobRole
ML Engineer           12.00
Data Analyst           6.25
Data Engineer          6.20
Business Analyst       5.80
System Engineer        5.00
Backend Developer      4.50
Frontend Developer     4.50
QA Tester              4.20
Support Executive      4.00
Name: Salary, dtype: float64